<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Allow</title>
    
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
   
   <div id="Box">
   <ul>
       <li><div class="window-container"> <!-- Ulysse -->
        <div class="window">
          <div class="window-title">
            You are with Allow
            <div class="btn-close close">X</div>
          </div>
          <div class="ligne"></div>
          <div class="window-body">
            <h1>Ulysse</h1>
            <h2>Chef de projet</h2>
            <p>Petite présentation du chef de projet Ulysee ! Youpi !</p>
          </div> <!--END class="window-body"-->
          <div class="window-button-row">
            <a class="btn primary ok" href="">OK</a>
          </div> <!--END class="window-button-row"-->
        </div> <!--END class="window"-->
    </div> <!--END class="window-container"--><!-- END Ulysse --></li>
      
      
       <li><div class="window-container"> <!-- Arthur -->
        <div class="window">
          <div class="window-title">
            You are with Allow
            <div class="btn-close close">X</div>
          </div>
          <div class="ligne"></div>
          <div class="window-body">
            <h1>Arthur</h1>
            <h2>Bras droit du chef</h2>
            <p>Bras droit, the king of the Git, à l'origine du nom et du logo ... Sacré Arthur !</p>
          </div> <!--END class="window-body"-->
          <div class="window-button-row">
            <a class="btn primary ok" href="">OK</a>
          </div> <!--END class="window-button-row"-->
        </div> <!--END class="window"-->
    </div> <!--END class="window-container"--><!-- END Arthur --></li>
      
      
       <li><div class="window-container"> <!-- Edmond -->
        <div class="window">
          <div class="window-title">
            You are with Allow
            <div class="btn-close close">X</div>
          </div>
          <div class="ligne"></div>
          <div class="window-body">
            <h1>Edmond</h1>
            <h2>Codeur</h2>
            <p>Dynamique, boîte à idées, à l'origine du choix du style : Vaporwave. On applaudit Edmond !</p>
          </div> <!--END class="window-body"-->
          <div class="window-button-row">
            <a class="btn primary ok" href="">OK</a>
          </div> <!--END class="window-button-row"-->
        </div> <!--END class="window"-->
    </div> <!--END class="window-container"--><!-- END Edmond --></li>
      
      
       <li><div class="window-container"> <!-- Ninon -->
        <div class="window">
          <div class="window-title">
            You are with Allow
            <div class="btn-close close">X</div>
          </div>
          <div class="ligne"></div>
          <div class="window-body">
            <h1>Ninon</h1>
            <h2>Codeur</h2>
            <p>Phylosophe, artiste et scientifique ! Au courant de ce qui se fait en code, à l'origine du choix de tri.js et de la 3D. Mesdames et Messieurs, Ninon !</p>
          </div> <!--END class="window-body"-->
          <div class="window-button-row">
            <a class="btn primary ok" href="">OK</a>
          </div> <!--END class="window-button-row"-->
        </div> <!--END class="window"-->
    </div> <!--END class="window-container"--><!-- END Ninon --></li>
      
      
       <li><div class="window-container"> <!-- Florine -->
        <div class="window">
          <div class="window-title">
            You are with Allow
            <div class="btn-close close">X</div>
          </div>
          <div class="ligne"></div>
          <div class="window-body">
            <h1>Florine</h1>
            <h2>Graphiste</h2>
            <p>Maquettes et textes dans l'html ! Qui n'a plus d'idées de présentation, mais qui s'ammuse quand-même : Florine !</p>
          </div> <!--END class="window-body"-->
          <div class="window-button-row">
            <a class="btn primary ok" href="">OK</a>
          </div> <!--END class="window-button-row"-->
        </div> <!--END class="window"-->
    </div> <!--END class="window-container"--><!-- END Florine --></li>
    
    
   </ul>
    
    </div> <!-- END Box -->
    
    <footer>
       
        <div id="col-footer">
            <ul>
                <li><a href="index.html">SI28_P19</a></li>
                <li>©Allow_2019</li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
        
    </footer>

    <script src="javascripts/index.js"></script>

</body>

</html>