<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="utf-8" />
	</head>
	<body>
		<div id="container"></div>
		<div id="title"><span class="openBtn"></span></div>
		<div id="prompt"></div>
		<div id="info">
			<span id="btn" class="closeBtn"></span>
			<p class="fps"></p>
		</div>
		<script src="../public/javascripts/lib/three.min.js"></script>
		<script src="../public/javascripts/lib/dat.gui.js"></script>
		<script src="../public/javascripts/lib/ImprovedNoise.js"></script>
		<script src="../public/javascripts/lib/stats.min.js"></script>
		<script src="../public/javascripts/main_cam.js"></script>
	</body>
</html>
