<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Allow</title>
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> </head>

<body>
    <div class="window-container" >
       
        <!--QUESTION 1-->
        <div class="window" id="question1"> 
            <div class="window-title"> You are with Allow
                <div class="btn-close close" id="closeq1">X</div>
            </div>
            <div class="ligne"></div>
            <div class="window-body">
                <h1>Genre?</h1>
                <div class="window-input">
                    <input id="homme" type="radio" name="field" value="option">
                    <label for="homme"><span><span></span></span>Homme</label>
                    <br/>
                    <input id="femme" type="radio" name="field" value="option" checked>
                    <label for="femme"><span><span></span></span>Femme</label>
                    <br/>
                    <input id="nonbinaire" type="radio" name="field" value="option">
                    <label for="nonbinaire"><span><span></span></span>Non-binaire</label>
                    <br/> </div>
            </div>
            <!--END class="window-body"-->
            <div class="window-button-row"> <a class="btn primary ok" id="ok_link_popup1" href="javascript:;">OK</a> </div>
            <!--END class="window-button-row"-->
        </div>
        <!--END class="window" QUESTION 1-->
        
        <!--QUESTION 2-->
        <div class="window" id="question2"> 
            <div class="window-title"> You are with Allow
                <div class="btn-close close" id="closeq2">X</div>
            </div>
            <div class="ligne"></div>
            <div class="window-body">
                <h1>Prénom?</h1>
                <div class="window-input">
                    <input id="prenom" type="texte" value="prénom">
                    <br/>
                </div>
            </div>
            <!--END class="window-body"-->
            <div class="window-button-row"> <a class="btn primary ok" id="ok_link_popup2" href="javascript:;">OK</a> </div>
            <!--END class="window-button-row"-->
        </div>
        <!--END class="window" QUESTION 2-->
        
        <!--QUESTION 3-->
        <div class="window" id="question3"> 
            <div class="window-title"> You are with Allow
                <div class="btn-close close" id="closeq3">X</div>
            </div>
            <div class="ligne"></div>
            <div class="window-body">
                <h1>Date de Naissance?</h1>
                <div class="window-input">
                    <input id="date" type="date" value="Anniversaire">
                    <br/>
                </div>
            </div>
            <!--END class="window-body"-->
            <div class="window-button-row"> <a class="btn primary ok" id="ok_link_popup3" href="javascript:;">OK</a> </div>
            <!--END class="window-button-row"-->
        </div>
        <!--END class="window" QUESTION 3-->
        
        <!--QUESTION 4-->
        <div class="window" id="question4"> 
            <div class="window-title"> You are with Allow
                <div class="btn-close close" id="closeq4">X</div>
            </div>
            <div class="ligne"></div>
            <div class="window-body">
                <h1>Webcam?</h1>
                <p>Autorisez-vous Allow <br/>
                à activer votre Webcam ?</p>
            </div>
            <!--END class="window-body"-->
            <div class="window-button-row"> <a class="btnOui" id="oui_webcam_q4" href="javascript:;">Oui</a></div>
            
            <div class="window-button-row"> <a class="btnNon" id="non_webcam_q4" href="javascript:;">Non</a></div>
            <!--END class="window-button-row"-->
        </div>
        <!--END class="window" QUESTION 4-->
        
        <!--QUESTION 5-->
        <div class="window" id="question5"> 
            <div class="window-title"> You are with Allow
                <div class="btn-close close" id="closeq5">X</div>
            </div>
            <div class="ligne"></div>
            <div class="window-body">
                <h1>Facebook?</h1>
                <p>Autorisez-vous Allow <br/>
                à se connecter à votre Facebook ?</p>
            </div>
            <!--END class="window-body"-->
            <div class="window-button-row"> <a class="btnOui" id="oui_fb_q5" href="javascript:;">Oui</a></div>
            
            <div class="window-button-row"> <a class="btnNon" id="non_fb_q5" href="javascript:;">Non</a></div>
            <!--END class="window-button-row"-->
        </div>
        <!--END class="window" QUESTION 5-->
        
        <!--QUESTION 6-->
        <div class="window" id="question6"> 
            <div class="window-title"> You are with Allow
                <div class="btn-close close" id="closeq6">X</div>
            </div>
            <div class="ligne"></div>
            <div class="window-body">
                <h1>Microphone?</h1>
                <p>Autorisez-vous Allow <br/>
                à activer votre Microphone ?</p>
            </div>
            <!--END class="window-body"-->
            <div class="window-button-row"> <a class="btnOui" id="oui_micro_q6" href="javascript:;">Oui</a></div>
            
            <div class="window-button-row"> <a class="btnNon" id="non_micro_q6" href="javascript:;">Non</a></div>
            <!--END class="window-button-row"-->
        </div>
        <!--END class="window" QUESTION 6-->
        
        <!--QUESTION 7-->
        <div class="window" id="question7"> 
            <div class="window-title"> You are with Allow
                <div class="btn-close close" id="closeq7">X</div>
            </div>
            <div class="ligne"></div>
            <div class="window-body">
                <h1>Couleur?</h1>
                
            </div>
            <!--END class="window-body"-->
            <div class="window-button-row"> <a class="btn primary ok" id="ok_link_popup7" href="javascript:;">OK</a></div>
            <!--END class="window-button-row"-->
        </div>
        <!--END class="window" QUESTION 7-->
        
        <!--QUESTION 8-->
        <div class="window" id="question8"> 
            <div class="window-title"> You are with Allow
                <div class="btn-close close" id="closeq8">X</div>
            </div>
            <div class="ligne"></div>
            <div class="window-body">
                <h1>Centres d'intérêt?</h1>
                
            </div>
            <!--END class="window-body"-->
            <div class="window-button-row"> <a class="btn primary ok" id="ok_link_popup8" href="javascript:;">OK</a></div>
            <!--END class="window-button-row"-->
        </div>
        <!--END class="window" QUESTION 8-->
        
        <!--QUESTION 9-->
        <div class="window" id="question9"> 
            <div class="window-title"> You are with Allow
                <div class="btn-close close" id="closeq9">X</div>
            </div>
            <div class="ligne"></div>
            <div class="window-body">
                <h1>Géolocalisation?</h1>
                <p>Autorisez-vous Allow <br/>
                à activer votre Géolocalisation ?</p>
            </div>
            <!--END class="window-body"-->
            <div class="window-button-row"> <a class="btnOui" id="oui_localisation_q9" href="javascript:;">Oui</a></div>
            
            <div class="window-button-row"> <a class="btnNon" id="non_localisation_q9" href="javascript:;">Non</a></div>
            <!--END class="window-button-row"-->
        </div>
        <!--END class="window" QUESTION 9-->
        
    </div>
    <!--END class="window-container"-->
    <footer>
        <div id="col-footer">
            <ul>
                <li><a href="index.html">SI28_P19</a></li>
                <li>Allow_2019</li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
    </footer>
    <script src="javascripts/lib/jquery.min.js"></script>
    <script src="javascripts/lib/three.min.js"></script>
    <script src="javascripts/lib/require.min.js"></script>
    <script src="javascripts/controllers.js"></script>
    <script src="javascripts/bouclePopUps.js"></script>
    <script src="javascripts/lib/OrbitControls.js"></script>
    <script src="javascripts/creationFigure.js"></script>
    <script>
        loader.load('./fonts/Roboto_Regular.json', (font) => {
            loadedFont = font;
            init();
        });
    </script>
</body>

</html>