<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Allow</title>
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> </head>

<body>
    <div class="window-container" >
       
        <!--QUESTION 1-->
        <div class="window" id="question1"> 
            <div class="window-title"> You are with Allow
                <div class="btn-close close" id="closeq1">X</div>
            </div>
            <div class="ligne"></div>
            <div class="window-body">
                <h1>Genre?</h1>
                <div class="window-input">
                    <input id="homme" type="radio" name="field" value="option">
                    <label for="homme"><span><span></span></span>Homme</label>
                    <br/>
                    <input id="femme" type="radio" name="field" value="option" checked>
                    <label for="femme"><span><span></span></span>Femme</label>
                    <br/>
                    <input id="nonbinaire" type="radio" name="field" value="option">
                    <label for="nonbinaire"><span><span></span></span>Non-binaire</label>
                    <br/> </div>
            </div>
            <!--END class="window-body"-->
            <div class="window-button-row"> <a class="btn primary ok" id="ok_link_popup1" href="javascript:;">OK</a> </div>
            <!--END class="window-button-row"-->
        </div>
        <!--END class="window" QUESTION 1-->
        
        <!--QUESTION 2-->
        <div class="window" id="question2"> 
            <div class="window-title"> You are with Allow
                <div class="btn-close close" id="closeq2">X</div>
            </div>
            <div class="ligne"></div>
            <div class="window-body">
                <h1>Prénom?</h1>
                <div class="window-input">
                    <input id="prenom" type="texte" value="prénom">
                    <br/>
                </div>
            </div>
            <!--END class="window-body"-->
            <div class="window-button-row"> <a class="btn primary ok" id="ok_link_popup1" href="javascript:;">OK</a> </div>
            <!--END class="window-button-row"-->
        </div>
        <!--END class="window" QUESTION 2-->
        
        <!--QUESTION 3-->
        <div class="window" id="question3"> 
            <div class="window-title"> You are with Allow
                <div class="btn-close close" id="closeq3">X</div>
            </div>
            <div class="ligne"></div>
            <div class="window-body">
                <h1>Date de Naissance?</h1>
                <div class="window-input">
                    <input id="date" type="date" value="Anniversaire">
                    <br/>
                </div>
            </div>
            <!--END class="window-body"-->
            <div class="window-button-row"> <a class="btn primary ok" id="ok_link_popup1" href="javascript:;">OK</a> </div>
            <!--END class="window-button-row"-->
        </div>
        <!--END class="window" QUESTION 3-->
        
        <!--QUESTION 4-->
        <div class="window" id="question4"> 
            <div class="window-title"> You are with Allow
                <div class="btn-close close" id="closeq4">X</div>
            </div>
            <div class="ligne"></div>
            <div class="window-body">
                <h1>Webcam?</h1>
                <p>Autorisez-vous Allow <br/>
                à activer votre Webcam ?</p>
            </div>
            <!--END class="window-body"-->
            <div class="window-button-row"> <a class="btnOui" id="oui_webcam_q4" href="javascript:;">Oui</a></div>
            
            <div class="window-button-row"> <a class="btnNon" id="non_webcam_q4" href="javascript:;">Non</a></div>
            <!--END class="window-button-row"-->
        </div>
        <!--END class="window" QUESTION 4-->
        
        <!--QUESTION 5-->
        <div class="window" id="question5"> 
            <div class="window-title"> You are with Allow
                <div class="btn-close close" id="closeq5">X</div>
            </div>
            <div class="ligne"></div>
            <div class="window-body">
                <h1>Facebook?</h1>
                <p>Autorisez-vous Allow <br/>
                à se connecter à votre Facebook ?</p>
            </div>
            <!--END class="window-body"-->
            <div class="window-button-row"> <a class="btnOui" id="oui_fb_q5" href="javascript:;">Oui</a></div>
            
            <div class="window-button-row"> <a class="btnNon" id="non_fb_q5" href="javascript:;">Non</a></div>
            <!--END class="window-button-row"-->
        </div>
        <!--END class="window" QUESTION 5-->
        
        <!--QUESTION 6-->
        <div class="window" id="question6"> 
            <div class="window-title"> You are with Allow
                <div class="btn-close close" id="closeq6">X</div>
            </div>
            <div class="ligne"></div>
            <div class="window-body">
                <h1>Microphone?</h1>
                <p>Autorisez-vous Allow <br/>
                à activer votre Microphone ?</p>
            </div>
            <!--END class="window-body"-->
            <div class="window-button-row"> <a class="btnOui" id="oui_micro_q6" href="javascript:;">Oui</a></div>
            
            <div class="window-button-row"> <a class="btnNon" id="non_micro_q6" href="javascript:;">Non</a></div>
            <!--END class="window-button-row"-->
        </div>
        <!--END class="window" QUESTION 6-->
        
        <!--QUESTION 7-->
        <div class="window" id="question7"> 
            <div class="window-title"> You are with Allow
                <div class="btn-close close" id="closeq7">X</div>
            </div>
            <div class="ligne"></div>
            <div class="window-body">
                <h1>Couleur?</h1>
                
                <div id="cercleChroma">
                   <svg
                        id="Calque_1"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        width="527.918px"
                        height="525.169px"
                        viewBox="0 0 527.918 525.169"
                        enable-background="new 0 0 527.918 525.169"
                        xml:space="preserve"
                >
                  <g>
                    <path
                            id="violet"
                            fill="#853697"
                            d="M431.675,66.88c-33.409,38.196-66.615,76.161-100.009,114.34c-18.08-14.398-38.672-22.109-62.032-23.166
                    c0-50.55,0-100.99,0-151.946C330.569,7.447,384.467,27.664,431.675,66.88z"
                    />
                      <path
                              id="rose"
                              fill="#F498C2"
                              d="M262.181,6.095c0,50.794,0,101.179,0,151.946c-22.727,1.105-43.234,8.613-61.406,23.049
                    c-33.187-38.112-66.353-76.2-99.764-114.57C147.761,27.767,201.264,7.663,262.181,6.095z"
                      />
                      <path
                              id="indigo"
                              fill="#4A0E7C"
                              d="M437.123,71.648c44.232,40.789,71.415,90.455,81.461,149.866c-50.238,7.262-100.093,14.469-150.131,21.703
                    c-2.118-11.103-5.758-21.394-11.064-31.084c-5.32-9.717-12.043-18.352-20.305-26.11
                    C370.434,147.894,403.676,109.888,437.123,71.648z"
                      />
                      <path
                              id="rouge"
                              fill="#FF0000"
                              d="M13.786,220.737c10.186-59.275,37.469-108.807,81.758-149.468c33.314,38.258,66.487,76.354,99.755,114.56
                    c-8.121,7.682-14.913,16.262-20.266,25.962c-5.339,9.677-9.011,19.96-11.189,31.108C113.875,235.519,64.056,228.162,13.786,220.737
                    z"
                      />
                      <path
                              id="bleu"
                              fill="#288ABD"
                              d="M519.597,228.657c6.915,58.74-4.251,113.378-34.238,164.496c-42.993-26.621-85.817-53.138-128.77-79.734
                    c5.474-9.686,9.315-19.831,11.472-30.571c2.141-10.661,2.666-21.432,1.434-32.494C419.604,243.111,469.448,235.906,519.597,228.657
                    z"
                      />
                      <path
                              id="orange"
                              fill="#FF8000"
                              d="M162.763,250.034c-2.281,22.278,1.717,43.11,12.507,62.74c-43.074,26.248-86.038,52.429-129.311,78.798
                    C16.525,340.716,5.723,286.349,12.734,227.875C62.827,235.274,112.702,242.64,162.763,250.034z"
                      />
                      <path
                              id="jaune"
                              fill="#FFE610"
                              d="M49.714,397.76c43.174-26.309,86.154-52.5,129.282-78.782c6.021,8.94,13.056,16.871,21.372,23.659
                    c8.31,6.782,17.465,12.112,27.62,16.252c-16.772,47.549-33.485,94.933-50.318,142.656
                    C123.545,480.912,81.112,446.385,49.714,397.76z"
                      />
                      <path
                              id="vert"
                              fill="#61B951"
                              d="M234.798,361.309c20.941,6.3,41.677,6.342,62.771-0.056c16.825,47.488,33.617,94.884,50.521,142.594
                    c-54.64,17.734-108.919,17.765-163.611,0.117C201.286,456.317,218.013,408.895,234.798,361.309z"
                      />
                      <path
                              id="turquoise"
                              fill="#30ABAB"
                              d="M304.378,358.833c20.299-8.264,36.28-21.377,48.457-39.227c42.921,26.578,85.702,53.07,128.703,79.698
                    c-31.285,47.74-73.28,81.698-126.642,102.119C338.025,453.803,321.248,406.449,304.378,358.833z"
                      />
                  </g>
                </svg>
                    
                </div><!--END cercleChroma-->
                
            </div><!--END class="window-body"-->
            <div class="window-button-row"> <a class="btn primary ok" id="ok_couleur_q7" href="javascript:;">OK</a></div>
            <!--END class="window-button-row"-->
        </div>
        <!--END class="window" QUESTION 7-->
        
        <!--QUESTION 8-->
        <div class="window" id="question8"> 
            <div class="window-title"> You are with Allow
                <div class="btn-close close" id="closeq8">X</div>
            </div>
            <div class="ligne"></div>
            <div class="window-body">
                <h1>Centres d'intérêt?</h1>
                
                <div id="grille">
                    <div><img class="icon" id="avion" src="../public/images/CentresInteret/avion.png"/></div>
                    <div><img class="icon" id="basket" src="../public/images/CentresInteret/basket.png"/></div>
                    <div><img class="icon" id="bateau" src="../public/images/CentresInteret/bateau.png"/></div>
                    <div><img class="icon" id="bowling" src="../public/images/CentresInteret/bowling.png"/></div>
                    <div><img class="icon" id="chat" src="../public/images/CentresInteret/chat.png"/></div>
                    <div><img class="icon" id="chien" src="../public/images/CentresInteret/chien.png"/></div>
                    <div><img class="icon" id="chocolat" src="../public/images/CentresInteret/chocolat.png"/></div>
                    <div><img class="icon" id="courir" src="../public/images/CentresInteret/courir.png"/></div>
                    <div><img class="icon" id="danse" src="../public/images/CentresInteret/danse.png"/></div>
                    <div><img class="icon" id="dessiner" src="../public/images/CentresInteret/dessiner.png"/></div>
                    <div><img class="icon" id="foot" src="../public/images/CentresInteret/foot.png"/></div>
                    <div><img class="icon" id="guitare" src="../public/images/CentresInteret/guitare.png"/></div>
                    <div><img class="icon" id="jeu" src="../public/images/CentresInteret/jeu.png"/></div>
                    <div><img class="icon" id="lit" src="../public/images/CentresInteret/lit.png"/></div>
                    <div><img class="icon" id="livre" src="../public/images/CentresInteret/livre.png"/></div>
                    <div><img class="icon" id="microscope" src="../public/images/CentresInteret/microscope.png"/></div>
                    <div><img class="icon" id="muscu" src="../public/images/CentresInteret/muscu.png"/></div>
                    <div><img class="icon" id="nager" src="../public/images/CentresInteret/nager.png"/></div>
                    <div><img class="icon" id="nature" src="../public/images/CentresInteret/nature.png"/></div>
                    <div><img class="icon" id="origami" src="../public/images/CentresInteret/origami.png"/></div>
                    <div><img class="icon" id="peluche" src="../public/images/CentresInteret/peluche.png"/></div>
                    <div><img class="icon" id="piano" src="../public/images/CentresInteret/piano.png"/></div>
                    <div><img class="icon" id="poisson" src="../public/images/CentresInteret/poisson.png"/></div>
                    <div><img class="icon" id="poulet" src="../public/images/CentresInteret/poulet.png"/></div>
                    <div><img class="icon" id="robot" src="../public/images/CentresInteret/robot.png"/></div>
                    <div><img class="icon" id="saturne" src="../public/images/CentresInteret/saturne.png"/></div>
                    <div><img class="icon" id="tenis" src="../public/images/CentresInteret/tenis.png"/></div>
                    <div><img class="icon" id="train" src="../public/images/CentresInteret/train.png"/></div>
                    <div><img class="icon" id="velo" src="../public/images/CentresInteret/velo.png"/></div>
                    <div><img class="icon" id="video" src="../public/images/CentresInteret/video.png"/></div>
                    <div><img class="icon" id="voiture" src="../public/images/CentresInteret/voiture.png"/></div>
                    <div><img class="icon" id="zen" src="../public/images/CentresInteret/zen.png"/></div>

                </div><!--END GRILLE-->
                
                
            </div>
            <!--END class="window-body"-->
            <div class="window-button-row"> <a class="btn primary ok" id="ok_interets_q8" href="javascript:;">OK</a></div>
            <!--END class="window-button-row"-->
        </div>
        <!--END class="window" QUESTION 8-->
        
        <!--QUESTION 9-->
        <div class="window" id="question9"> 
            <div class="window-title"> You are with Allow
                <div class="btn-close close" id="closeq9">X</div>
            </div>
            <div class="ligne"></div>
            <div class="window-body">
                <h1>Géolocalisation?</h1>
                <p>Autorisez-vous Allow <br/>
                à activer votre Géolocalisation ?</p>
            </div>
            <!--END class="window-body"-->
            <div class="window-button-row"> <a class="btnOui" id="oui_localisation_q9" href="javascript:;">Oui</a></div>
            
            <div class="window-button-row"> <a class="btnNon" id="non_localisation_q9" href="javascript:;">Non</a></div>
            <!--END class="window-button-row"-->
        </div>
        <!--END class="window" QUESTION 9-->
        
    </div>
    <!--END class="window-container"-->
    <footer>
        <div id="col-footer">
            <ul>
                <li><a href="index.html">SI28_P19</a></li>
                <li>©Allow_2019</li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
    </footer>
    <script src="../public/javascripts/lib/jquery.min.js"></script>
    <script src="../public/javascripts/lib/three.min.js"></script>
    <script src="../public/javascripts/lib/OrbitControls.js"></script>
    <script src="../public/javascripts/lib/require.min.js"></script>
<!--    <script src="../public/javascripts/creationFigure.js"></script>-->
    <script src="../public/javascripts/couleur.js"></script>
    <script src="../public/javascripts/centresInteret.js"></script>
</body>

</html>