<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Allow</title>
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> </head>

<body>
    <div class="window-container" >
        <div class="window" id="question1">
            <div class="window-title"> You are with Allow
                <div class="btn-close close">X</div>
            </div>
            <div class="ligne"></div>
            <div class="window-body">
                <h1>Genre?</h1>
                <div class="window-input">
                    <input id="option1" type="radio" name="field" value="option">
                    <label for="option1"><span><span></span></span>Homme</label>
                    <br>
                    <input id="option2" type="radio" name="field" value="option" checked>
                    <label for="option2"><span><span></span></span>Femme</label>
                    <br>
                    <input id="option3" type="radio" name="field" value="option">
                    <label for="option3"><span><span></span></span>Non-binaire</label>
                    <br> </div>
            </div>
            <!--END class="window-body"-->
            <div class="window-button-row"> <a class="btn primary ok" id="ok_link_popup" href="javascript:;">OK</a> </div>
            <!--END class="window-button-row"-->
        </div>
        <!--END class="window"-->
    </div>
    <!--END class="window-container"-->
    <footer>
        <div id="col-footer">
            <ul>
                <li><a href="index.html">SI28_P19</a></li>
                <li>©Allow_2019</li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
    </footer>
    <script src="javascripts/lib/jquery.min.js"></script>
    <script src="javascripts/lib/three.min.js"></script>
    <script src="javascripts/lib/OrbitControls.js"></script>
    <script src="javascripts/lib/require.min.js"></script>
    <script src="javascripts/creationFigure.js"></script>
</body>

</html>