<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Allow</title>
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> </head>

<body>
    <div id="logo"></div>
    <div class="btn-Start">
        <p> <a href="crea.html">Start</a> </p>
    </div>
    <!-- END BTN START -->
    <div id="grille-sol"></div>
    <footer>
        <div id="col-footer">
            <ul>
                <li>SI28_P19</li>
                <li>©Allow_2019</li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
    </footer>
    <!--    <script src="javascripts/index.js"></script>-->
</body>

</html>